<div class="container my-4">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta expedita
    necessitatibus culpa minus asperiores nostrum eum beatae facere cum totam,
    assumenda, maiores dicta pariatur perspiciatis impedit, ducimus non natus
    enim? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum
    laudantium voluptatem voluptatum deleniti fugiat, tempore nulla quisquam
    nobis earum dolorem debitis deserunt possimus quibusdam repellendus sed
    dolore id qui.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ut! Nesciunt
    dolorem dolorum tempore amet quos maiores voluptas fuga quo consequatur,
    veritatis itaque, omnis neque modi perferendis eos distinctio sapiente
    consequuntur deserunt iste dolore! Sed perferendis doloribus sint deserunt.
    Expedita fuga exercitationem quidem odit tempore ex sed qui dicta
    dignissimos fugiat recusandae, ullam commodi nesciunt sint et dolores nihil.
    Accusamus, blanditiis, quasi aliquam labore tempora doloremque eum enim est
    mollitia numquam aut distinctio dolorem ratione et ipsa alias ea quidem
    error soluta odit neque odio. Praesentium tempore excepturi sit! Sequi
    perferendis totam eaque deserunt voluptates expedita nulla ullam, accusamus
    neque.
  </p>
</div>
