aniso8601==9.0.1
asgiref==3.5.0
astroid==1.6.5
atomicwrites==1.4.0
attrs==21.4.0
blis==0.7.5
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.3.9
coverage==6.3
cryptography==36.0.2
cymem==2.0.6
Django==4.0.4
-e git+https://github.com/chubozeko/PWP.git@6526cc9370376f5d3c5af537fd3e1f8330ab23bd#egg=eathelp
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
future==0.18.2
glfw==2.5.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
greenlet==1.1.2
gspread==5.0.0
gunicorn==20.1.0
httplib2==0.20.2
idna==3.3
image==1.5.33
iniconfig==1.1.1
iso8601==1.0.2
isort==4.3.4
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
jsonschema==4.4.0
lazy-object-proxy==1.3.1
MarkupSafe==2.0.1
marshmallow==3.14.0
mccabe==0.6.1
murmurhash==1.0.6
mysql-connector==2.2.9
mysql-connector-python==8.0.28
nltk==3.6.5
numpy==1.21.3
oauth2client==4.1.3
oauthlib==3.1.1
packaging==21.2
pathy==0.6.1
Pillow==9.1.0
pluggy==1.0.0
preshed==3.0.6
protobuf==3.20.0
psutil==5.8.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.8.2
PyGLM==0.4.5b1
pylint==1.9.2
PyMySQL==1.0.2
pyparsing==2.4.7
pyphen==0.11.0
pyrsistent==0.18.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
pytz==2021.3
PyYAML==6.0
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
rfc3339-validator==0.1.4
rsa==4.8
serial==0.0.97
singledispatch==3.4.0.3
six==1.11.0
smart-open==5.2.1
spacy==3.1.4
spacy-legacy==3.0.8
SQLAlchemy==1.4.31
sqlparse==0.4.2
srsly==2.4.2
textstat==0.7.2
thinc==8.0.12
toml==0.10.2
tomli==2.0.0
tqdm==4.62.3
typer==0.4.0
typing-extensions==3.10.0.2
tzdata==2022.1
urllib3==1.26.7
wasabi==0.8.2
Werkzeug==2.0.2
wrapt==1.10.11
