<div class="">
  <footer class="text-center text-white" style="background-color: #f1f1f1">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Navigation -->
      <section class="mb-4">
        <!-- Home -->
        <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button"
          >Home</a
        >
        <!-- Recipes -->
        <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button"
          >Recipes</a
        >
        <!-- Ingredients -->
        <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button"
          >Ingredients</a
        >
        <!-- Chefs -->
        <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button"
          >Chefs</a
        >
        <!-- About -->
        <a class="btn btn-link btn-lg text-dark m-1" href="#!" role="button"
          >About</a
        >
      </section>
      <!-- Section: Navigation -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center text-dark p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2020 Copyright:
      <a class="text-dark" routerLink="/home">EatHelp</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
